<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base5::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form </title>
</head>

<body>
    <section style="background-color: #eee;">
        <form id="login-form" class="form p-3 mt-3" th:action="@{'/IT/emp_processing_profile/'+${userdetail.id}}"
            action="#" method="post" enctype="multipart/form-data">
            <div class="container py-5">
                <div class="row">
                    <div class="col">
                        <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">User</a></li>
                                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert text-center">
                <p th:text="${session.message.content}"></p>
                <th:block th:text="${#session.removeAttribute('message')}"></th:block>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <div th:if="${userdetail.Image_Url.equals('default.jpg') and userdetail.gender.equals('Male')}">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar"
                                    class="rounded-circle img-fluid" style="width: 150px;">
                            </div>
                            <div th:if="${userdetail.Image_Url.equals('default.jpg') and userdetail.gender.equals('Female')}">
                                <img src="https://img.freepik.com/premium-vector/portrait-beautiful-lady-with-sunglasses_684058-1186.jpg?size=626&ext=jpg&ga=GA1.1.1331334970.1715351181&semt=ais_user"
                                    alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            </div>
                            <div th:if="${!userdetail.Image_Url.equals('default.jpg')}">
                                <img th:src="@{'/img/'+${userdetail.Image_Url}}" alt="avatar"
                                    class="rounded-circle img-fluid" style="width: 150px;">
                            </div>
                            <h5 class="my-3"><span th:text="${userdetail.username}"></span></h5>
                            <p class="text-muted mb-1"><span th:text="${userdetail.designation}"></span></p>
                            <p class="text-muted mb-4"><span th:text="${userdetail.base_location}"></span></p>
                            <div class="d-flex justify-content-center mb-2">
                                <div th:if="${userdetail.status.equals('ACTIVE')}">
                                    <button disabled type="button" data-mdb-button-init data-mdb-ripple-init
                                        class="btn btn-success"><span th:text="${userdetail.status}"></span></button>
                                </div>
                                <div th:if="${userdetail.status.equals('INACTIVE')}">
                                    <button disabled type="button" data-mdb-button-init data-mdb-ripple-init
                                        class="btn btn-danger"><span th:text="${userdetail.status}"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush rounded-3">
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fas fa-globe fa-lg text-warning"></i>
                                    <p class="mb-0">https://mdbootstrap.com</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-github fa-lg text-body"></i>
                                    <p class="mb-0">mdbootstrap</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                    <p class="mb-0">@mdbootstrap</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                    <p class="mb-0">mdbootstrap</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                    <p class="mb-0">mdbootstrap</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3>Personal Info</h3>
                            <br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"><span th:text="${userdetail.username}"></span></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Employee ID</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"><span th:text="${'GOOGLEIND00'+userdetail.id}"></span></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"><span th:text="${userdetail.email}"></span></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"><span th:text="${userdetail.phone}"></span></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Address</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"><span th:text="${userdetail.address}"></span></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Country</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"><span th:text="${userdetail.country}"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3>Asset Info</h3>
                                    <!-- Asset Info Content Goes Here -->
                                </div>
                                <div class="col-sm-6">
                                    <div class="text-right">
                                        <b>
                                            <a href="" th:href="@{'/IT/emp_profile_edit_1/'+${userdetail.id}}"
                                                class="item">
                                                <p>BACK <i class="fas fa-edit"></i></p>
                                            </a>
                                        </b>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Laptop Brand</p>
                                </div>
                                <div class="col-sm-9">
                                    <select id="laptop_brand" name="laptop_brand" onchange="toggleRoleTypeOptions()">
                                        <option>NA</option>
                                        <option>HP</option>
                                        <option>DELL</option>
                                        <option>LENOVO</option>
                                        <option>SAMSUNG</option>
                                        <option>APPLE</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Serial Number</p>
                                </div>
                                <div class="col-sm-9">
                                    <input id="laptop_serial_number" type="text" class="text-muted mb-0" name="laptop_serial_number"
                                        th:value="${userdetail.laptop_serial_number}" /> <i class="fas fa-edit"></i>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Product Id</p>
                                </div>
                                <div class="col-sm-9">
                                    <input id="laptop_id" type="text" class="text-muted mb-0" name="laptop_id"
                                        th:value="${userdetail.laptop_id}" /> <i class="fas fa-edit"></i>
                                </div>
                            </div>

                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Receipt</p>
                                </div>
                                <div class="col-sm-9">
                                    <input type="file" class="text-muted mb-0" name="profileImage" /> <i
                                        class="fas fa-edit"></i>
                                </div>
                            </div>
                            <hr>
                            <div class="col-md-12 mt-5"><button class="btn btn-primary profile-button" type="submit">Save
                                    Profile</button></div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </section>
    <script type="text/javascript">
        function toggleRoleTypeOptions() {
            var laptopBrand = document.getElementById("laptop_brand").value;
            var laptopSerialNumber = document.getElementById("laptop_serial_number");
            var laptopId = document.getElementById("laptop_id");

            if (laptopBrand === "NA") {
                laptopSerialNumber.setAttribute("readonly", true);
                laptopId.setAttribute("readonly", true);
            } else {
                laptopSerialNumber.removeAttribute("readonly");
                laptopId.removeAttribute("readonly");
            }
        }

        // Initialize the function on page load
        document.addEventListener("DOMContentLoaded", function () {
            toggleRoleTypeOptions();
        });
    </script>
</body>

</html>
