<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})" >
<head>
<meta charset="ISO-8859-1">
</head>
<body>
<section class="banner form-field d-flex align-items-center">
<div class="wrapper">
<div class="logo">
				<img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-webinar-optimizing-for-success-google-business-webinar-13.png">
        </div>
<div class="text-center mt-5">
<h4 class="font-weight-bold">Employee Management System</h4>
<a th:href="@{/signin}" class="btn  btn-lg mt-5">Get Start</a>
<div class="text-center mt-5">
<p> Employee Management System Portal made by Ayush Gupta</p>
</div>
</div>
</div>
</section>
</body>
</html>